<!DOCTYPE html>
<html>
<head>
	<title>Loja de Livros</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div id="Logotipo">
		<%= image_tag("Logo.gif") %>
		<%= @page_title || "Loja de Livros" %>
	</div>
	<div id="Menu">
		<header>		
		<nav>
			<ul>
				<li><%= link_to 'Loja', store_path %></li>
				<li><%= link_to 'Produtos', products_path %></li>				
				<li><%= link_to 'Carts', @cart %></li>
				<li><a href="#">Duvidas</a></li>
			</ul>
		</nav>
		</header>
	</div>
	
	<div id="Conteudo">
		<div id="Main">
			<%= yield %>
		</div>
		<div id="BarraLateral">
			<div id="Carro">
				<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
					<% if user_signed_in? %>
						<%= render @cart %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	
	<div id="relogio">
		<script>
		 $(document).ready(
			 function(){
				 setInterval(function(){
					 $('#relogio').load('/application/relogio_digital');
				  }, 1000);
		  });
		</script>
		
	</div>
	<div id="logon">
		<% if user_signed_in? %>
			Ola <%= current_user.email %>. Deslogar?
			<%= link_to "Sair", destroy_user_session_path, :method => :delete %>
		<% else %>
			<%= link_to "Cadastra-se", new_user_registration_path %> or <%= link_to "Entrar", new_user_session_path %>
		<% end %>
	</div>
	<footer>
		<p>Desenvolvido por Johann,Felipe e Igor</p>
	</footer>
</body>
</html>