<h1>Lista de produtos</h1>
<table>
  <thead>
    <tr>
      <th class="titulo">Titulo</th>
      <th class="descricao">Descrição</th>
      <th class="preco">Preço</th>
	  <th class="categoria">Categoria</th>
	  <th class="editar">Editar</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="titulo">
			<img src<%= image_tag(product.image_url, class: 'list_image') %>
			<br/>
			<%= product.title %>
		</td>
        <td class="descricao"><%= truncate(strip_tags(product.description), length: 80) %></td>
        <td class="preco"><%= product.price %></td>
		<td class="categoria"><%= product.category %></td>
        <td class="editar">
			<p><%= link_to 'Show', product %></p>
			<p><%= link_to 'Edit', edit_product_path(product) %></p>
			<p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Você quer mesmo excluir este item?' } %></p>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div id="new_product"><%= link_to 'Novo Produto', new_product_path %></div>