<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<h1>Catálogo</h1>
<% @categories.each do |category, products| %>
	<div class="titulo"><h2><%= category %></h2></div>
	<div class="produtos">		
				<% products.each do |product| %>
				<% cache ['store', Product.latest] do %>
					<div class="item">
						<div class="imagem"><%= image_tag(product.image_url) %></div>
						<h3><%= product.title %></h3>
							<%= truncate(strip_tags(product.description), length: 50) %>
							<div class="price_item">
								<span class="price"><%= number_to_currency(product.price) %></span>
								<%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
							</div>
					</div>
				<% end %>	
				<% end %>
	</div>
<% end %>