<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<h1>Catálogo</h1>
	<% @products.each do |product| %>
		<div class="item">
			<div class="imagem"><%= image_tag(product.image_url) %></div>
			<h3><%= product.title %></h3>
			<%= sanitize(product.description) %>
				<div class="price_item">
					<span class="price"><%= number_to_currency(product.price) %></span>
				</div>
		</div>
<% end %>